<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539574024096-l1di25hbkk1esgl9s61gtdeja23vgphd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539574024096-l1di25hbkk1esgl9s61gtdeja23vgphd</string>
	<key>API_KEY</key>
	<string>AIzaSyAe21Ym83oGMskHdEibpV_k_xZ9a9CXwhs</string>
	<key>GCM_SENDER_ID</key>
	<string>539574024096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.burabayev.flutternotebook</string>
	<key>PROJECT_ID</key>
	<string>flutter-notebook-a288a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notebook-a288a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539574024096:ios:957a7ef0b3a96c399c96c5</string>
</dict>
</plist>